pandas
altair==5.2.0
altair-data-server==0.4.1
appdirs==1.4.4
brotlipy==0.7.0
canvasapi==2.2.0
canvasutils==0.4.1
cfgv==3.4.0
clyent==1.2.1
comm==0.2.1
conda-repo-cli==1.0.75
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.12.0
dash-table==5.0.0
dash-tools==1.12.0
datashape==0.5.4
distlib==0.3.8
distro==1.9.0
docopt==0.6.2


dos2unix==1

et-xmlfile==1.1.0

filelock==3.13.1
fonttools==4.25.0
graphviz==0.20.1

gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0

ipytablewidgets==0.3.1

jsonpointer==2.1
munkres==1.1.4

nodeenv==1.8.0

openai==1.7.2
openpyxl==3.0.10
packaging==21.3

patsy==0.5.3
pep8==1.7.1

pipreqs==0.4.12
ply==3.11
portpicker==1.6.0

pre-commit==2.16.0
protobuf==4.25.2


py==1.11.0

pyarrow==11.0.0

pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0

PyQt5-sip==12.11.0

pytest==6.2.5

python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
retrying==1.3.4
rpy2==3.5.15


termcolor==1.1.0

traittypes==0.2.1
tzlocal==5.2
vega==4.0.0
vega-datasets==0.9.0
vegafusion==1.6.3
vegafusion-python-embed==1.6.3
virtualenv==20.25.1
visdcc==0.0.50
vl-convert-python==1.2.3
webencodings==0.5.1
widgetsnbextension==3.6.6


yarg==0.1.9

yolk3k==0.9

